<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>성경 말씀</title>
    <link rel="stylesheet" href="/css/message.css">
</head>
<body>
<div class="verse-info-container">
    <p class="book-title-container">sample title</p>
    <p class="message">sample message</p>
</div>

<div class="button-container">
    <button class="left-arrow"></button>
    <button class="right-arrow"></button>
</div>
<script src="/js/common/config.js"></script>
<script src="/js/message/messageMain.js"></script>
<script src="/js/message/leftAndRightButton.js"></script>
<script src="/js/message/verseDisplayUpdateFunction.js"></script>
</body>
</html>